<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Mcommerce</title>

    <link rel="stylesheet" type="text/css" href="webjars/bootstrap/4.0.0-2/css/bootstrap.min.css" />

</head>
<body>


<div class="container">

    <h1 class="text-center" >Application Bibiotheque</h1>

    <div class="row">

        <div th:each="livre : ${livres}" class="col-md-4 my-1">
            <a th:href="@{|/livre/${livre.id}|}" >
                <img th:src="${livre.coverUrl}"  class="card-img-top" />
                <p th:text= "${livre.name}"></p>
                <p th:text= "${livre.author}"></p>
            </a>
        </div>
    </div>

</div>


<script type="text/javascript" src="webjars/bootstrap/4.0.0-2/js/bootstrap.min.js"></script>

</body>
</html>